@import './constants';

.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300;
  max-width: 400px;
  border: 1px solid black;
  
  .header {
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    font-family: $font-family;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }

  .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:underline;
    text-decoration-style: dotted;
    font-weight: 400;
  }
  .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;

    .selected {
      background-color: $color-blue;
      color: $color-white;
      font-weight: bold;
    }
    div {
      width: 54px;
      height: 44px;
      position: relative;
      color: var(--black);
      z-index: 100;
      line-height: 44px;
    }
    .weekend {
      color: $color-red;
    }

    div.before, div.after {
      color: $color-grey;
    }
  }
}

.icons {
  width: 2rem;
  height: 2rem;
  font-weight: 500;

  &:hover{
    background-color: $color-grey;
  } 
}

.arrowgrp {
  display: flex;
  flex-direction: row;
}

.grid-3x4 {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3,33%);
  text-align: center;
  padding: 3px;

  .item {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .selected {
    background-color: $color-blue;
  }
}


.text-box {
  max-width: 400px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid $color-grey;
  border-radius: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  

  div {
    margin: 4px;
    font-size: 1.5rem;
  }
}