$color-black: rgb(58, 58, 58);
$color-grey: rgb(205, 205, 205);
$color-white: rgb(240, 240, 240);
$color-red: rgb(206, 36, 36);
$color-blue: rgb(30, 159, 245);
$font-family: 'Montserrat', sans-serif;;
$font-size: 16px;