@import './constants';

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-selector {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: $font-family;
  max-width: 400px;
  border: 1px solid black;
  border-top-width: 0px;
  text-align: center;

  .header {
    min-height: 2rem;
    line-height: 2rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.counter {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;

  .counter-text {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $color-grey;
    font-size: 1rem;
    @extend %flex-center;
  }
  .btn {
    width: 1.5rem;
    height: 1.5rem;
    @extend %flex-center;
  }
  .btn-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.day-time{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-content: center;

  .morning,
  .noon{
    width: 2rem;
    height: 1.5rem;
    border: 1px solid $color-grey;
  }

  .day-col {
    background-color: $color-blue;
    color: white;
    font-weight: 900;
  }

  .selected {
    background-color: $color-blue;
    font-weight: 900;
    color: $color-white;
  }
}

.time_updater{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time-ch {
  width: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}